<main>

<!-- breadcrumb area start -->
<div class="breadcrumb__area breadcrumb__overlay breadcrumb__height p-relative fix" data-background="{{asset('MainAssets/img/department/landscape-2.webp')}}">
   <div class="container">
      <div class="row">
         <div class="col-xxl-12">
            <div class="breadcrumb__content z-index text-center">
               <h3 class="breadcrumb__title">MANDATE</h3>
               <div class="breadcrumb__list">
                  <span><a href="index.html">Home</a></span>
                  <span class="dvdr"><i class="fa fa-angle-right"></i></span>
                  <span>MANDATE</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- breadcrumb area end -->

<!-- postbox area start -->
<div class="postbox__comment mb-80">
                  

<            <div class="postbox__wrapper">
               <article class="postbox__item format-image mb-50 transition-3">
                  <div class="postbox__thumb w-img">
                     <img src="assets/img/blog/blog-standard-4.jpg" alt="">
                  </div>
                  </div>
                     
                     <div class="postbox__text">
                        <p> The Federal Ministry of Environment works to ensure environmental protection, natural resources conservation and sustainable development. 
                            Since its  establishment, the Ministry has impacted on raising the issue of environmental consciousness in the minds of Nigerians as well as the interface with the Global environmental best practices. 
                            It has focused on involving innovative strategies that emphasize the use of environmental re – engineering as a veritable tool for job creation, poverty eradication, ensuring food security, encouraging sustainable economic development and general improvement in the livelihood of Nigerian populace.
                        
                        </p>
                        <ul>
                


                        <div class="postbox__blockquote p-relative">
                           <div class="postbox__blockquote-shape">
                              <img src="https://template.wphix.com/mayorx-prev/mayorx/assets/img/blog/quote.png" alt="">
                           </div>

                        </div>
                        <div class="postbox__list">
                           <h3 class="postbox__list-title">MANDATES</h3>
                           <div class="row">
                              <div class="col-xl-7 col-lg-12">
                                 <div class="postbox__list-content">
                                    <ul>
                                       <li>
                                          <span>
                                             <svg width="14" height="14" viewBox="0 0 16 15" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                   d="M15.794 2.17595C14.426 3.42395 13.094 4.87595 11.798 6.53195C10.67 7.95995 9.656 9.42395 8.756 10.924C7.94 12.268 7.346 13.42 6.974 14.38C6.962 14.416 6.938 14.446 6.902 14.47C6.866 14.506 6.824 14.524 6.776 14.524C6.764 14.536 6.752 14.542 6.74 14.542C6.656 14.542 6.596 14.518 6.56 14.47L0.134 7.93595C0.122 7.92395 0.278 7.76795 0.602 7.46795C0.926 7.15595 1.244 6.87395 1.556 6.62195C1.904 6.33395 2.09 6.20195 2.114 6.22595L5.642 8.99795C6.674 7.78595 7.832 6.58595 9.116 5.39795C11.048 3.62195 13.04 2.10995 15.092 0.861953C15.128 0.861953 15.266 1.02995 15.506 1.36595L15.866 1.88795C15.878 1.93595 15.878 1.98995 15.866 2.04995C15.854 2.09795 15.83 2.13995 15.794 2.17595Z"
                                                   fill="currentColor">
                                                </path>
                                             </svg>
                                          </span> 
                                          Securing a quality environment conducive for good health and wellbeing of fauna and flora.
                                       </li>
                                       <li>
                                          <span class="active"><svg width="14" height="14" viewBox="0 0 16 15"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                   d="M15.794 2.17595C14.426 3.42395 13.094 4.87595 11.798 6.53195C10.67 7.95995 9.656 9.42395 8.756 10.924C7.94 12.268 7.346 13.42 6.974 14.38C6.962 14.416 6.938 14.446 6.902 14.47C6.866 14.506 6.824 14.524 6.776 14.524C6.764 14.536 6.752 14.542 6.74 14.542C6.656 14.542 6.596 14.518 6.56 14.47L0.134 7.93595C0.122 7.92395 0.278 7.76795 0.602 7.46795C0.926 7.15595 1.244 6.87395 1.556 6.62195C1.904 6.33395 2.09 6.20195 2.114 6.22595L5.642 8.99795C6.674 7.78595 7.832 6.58595 9.116 5.39795C11.048 3.62195 13.04 2.10995 15.092 0.861953C15.128 0.861953 15.266 1.02995 15.506 1.36595L15.866 1.88795C15.878 1.93595 15.878 1.98995 15.866 2.04995C15.854 2.09795 15.83 2.13995 15.794 2.17595Z"
                                                   fill="currentColor">
                                                </path>
                                             </svg>
                                          </span> Promoting sustainable use of natural resources.
                                       </li>
                                       <li>
                                          <span>
                                             <svg width="14" height="14" viewBox="0 0 16 15" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                   d="M15.794 2.17595C14.426 3.42395 13.094 4.87595 11.798 6.53195C10.67 7.95995 9.656 9.42395 8.756 10.924C7.94 12.268 7.346 13.42 6.974 14.38C6.962 14.416 6.938 14.446 6.902 14.47C6.866 14.506 6.824 14.524 6.776 14.524C6.764 14.536 6.752 14.542 6.74 14.542C6.656 14.542 6.596 14.518 6.56 14.47L0.134 7.93595C0.122 7.92395 0.278 7.76795 0.602 7.46795C0.926 7.15595 1.244 6.87395 1.556 6.62195C1.904 6.33395 2.09 6.20195 2.114 6.22595L5.642 8.99795C6.674 7.78595 7.832 6.58595 9.116 5.39795C11.048 3.62195 13.04 2.10995 15.092 0.861953C15.128 0.861953 15.266 1.02995 15.506 1.36595L15.866 1.88795C15.878 1.93595 15.878 1.98995 15.866 2.04995C15.854 2.09795 15.83 2.13995 15.794 2.17595Z"
                                                   fill="currentColor">
                                                </path>
                                             </svg>
                                          </span> Restoring and maintaining the ecosystem, ecological process and preserve biodiversity.
                                       </li>
                                       <li>
                                          <span>
                                             <svg width="14" height="14" viewBox="0 0 16 15" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                   d="M15.794 2.17595C14.426 3.42395 13.094 4.87595 11.798 6.53195C10.67 7.95995 9.656 9.42395 8.756 10.924C7.94 12.268 7.346 13.42 6.974 14.38C6.962 14.416 6.938 14.446 6.902 14.47C6.866 14.506 6.824 14.524 6.776 14.524C6.764 14.536 6.752 14.542 6.74 14.542C6.656 14.542 6.596 14.518 6.56 14.47L0.134 7.93595C0.122 7.92395 0.278 7.76795 0.602 7.46795C0.926 7.15595 1.244 6.87395 1.556 6.62195C1.904 6.33395 2.09 6.20195 2.114 6.22595L5.642 8.99795C6.674 7.78595 7.832 6.58595 9.116 5.39795C11.048 3.62195 13.04 2.10995 15.092 0.861953C15.128 0.861953 15.266 1.02995 15.506 1.36595L15.866 1.88795C15.878 1.93595 15.878 1.98995 15.866 2.04995C15.854 2.09795 15.83 2.13995 15.794 2.17595Z"
                                                   fill="currentColor">
                                                </path>
                                             </svg>
                                          </span> Raising public awareness and promoting understanding of linkages of the environment.
                                       </li>
                                       <li>
                                          <span>
                                             <svg width="14" height="14" viewBox="0 0 16 15" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                   d="M15.794 2.17595C14.426 3.42395 13.094 4.87595 11.798 6.53195C10.67 7.95995 9.656 9.42395 8.756 10.924C7.94 12.268 7.346 13.42 6.974 14.38C6.962 14.416 6.938 14.446 6.902 14.47C6.866 14.506 6.824 14.524 6.776 14.524C6.764 14.536 6.752 14.542 6.74 14.542C6.656 14.542 6.596 14.518 6.56 14.47L0.134 7.93595C0.122 7.92395 0.278 7.76795 0.602 7.46795C0.926 7.15595 1.244 6.87395 1.556 6.62195C1.904 6.33395 2.09 6.20195 2.114 6.22595L5.642 8.99795C6.674 7.78595 7.832 6.58595 9.116 5.39795C11.048 3.62195 13.04 2.10995 15.092 0.861953C15.128 0.861953 15.266 1.02995 15.506 1.36595L15.866 1.88795C15.878 1.93595 15.878 1.98995 15.866 2.04995C15.854 2.09795 15.83 2.13995 15.794 2.17595Z"
                                                   fill="currentColor">
                                                </path>
                                             </svg>
                                          </span> Cooperating with relevant MDAs, the private sector, NGOs, and International organizations on environmental matters.
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-xl-5 col-lg-12">
                                 <div class="posbox__list-img">
                                    <img src="assets/img/blog/blog-list-img.jpg" alt="">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <li>
                           <div class="postbox__comment-box p-relative">
                              <div class="postbox__comment-info d-flex align-items-center">
                                 <div class="postbox__comment-avater mr-40">
                                    <img src="assets/img/avata/avata-3.png" alt="">
                                 </div>
                                 <div class="postbox__comment-name p-relative">
                                    <h5>VISION</h5>
                                    <div class="postbox__comment-text">
                                       <p>To be a Nation that develops in harmony with its environment.</p>
                                    </div>
                                    <div class="postbox__comment-reply">
                                       <span><svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M6.54688 10.2031L12.7969 16.4531C13.9688 17.625 16 16.8047 16 15.125V12.3516C20.6094 12.5469 20.7266 13.5625 20.0625 15.8672C19.5547 17.5469 21.4688 18.9141 22.9141 17.9375C24.9062 16.5703 26 14.8516 26 12.3516C26 6.76562 21 5.67188 16 5.47656V2.66406C16 0.984375 13.9688 0.164062 12.7969 1.33594L6.54688 7.58594C5.80469 8.28906 5.80469 9.5 6.54688 10.2031ZM7.875 8.875L14.125 2.625V7.3125C18.8125 7.3125 24.125 7.58594 24.125 12.3516C24.125 14.5391 22.9922 15.6328 21.8594 16.375C23.4609 11.0625 19.4766 10.4375 14.125 10.4375V15.125L7.875 8.875ZM1.54688 7.58594C0.804688 8.28906 0.804688 9.5 1.54688 10.2031L7.79688 16.4531C8.57812 17.2734 9.75 17.1562 10.4531 16.4531L2.875 8.875L10.4531 1.33594C9.75 0.632812 8.57812 0.515625 7.79688 1.33594L1.54688 7.58594Z" fill="#121416"></path>
                                          </svg></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="postbox__comment-box p-relative">
                              <div class="postbox__comment-info d-flex align-items-center">
                                 <div class="postbox__comment-avater mr-40">
                                    <img src="assets/img/avata/avata-4.png" alt="">
                                 </div>
                                 <div class="postbox__comment-name p-relative">
                                    <h5>MISSION</h5>
                                    <div class="postbox__comment-text">
                                       <p>To ensure environmental protection, natural resources conservation and sustainable development.</p>
                                    </div>
                                    <div class="postbox__comment-reply">
                                       <span><svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M6.54688 10.2031L12.7969 16.4531C13.9688 17.625 16 16.8047 16 15.125V12.3516C20.6094 12.5469 20.7266 13.5625 20.0625 15.8672C19.5547 17.5469 21.4688 18.9141 22.9141 17.9375C24.9062 16.5703 26 14.8516 26 12.3516C26 6.76562 21 5.67188 16 5.47656V2.66406C16 0.984375 13.9688 0.164062 12.7969 1.33594L6.54688 7.58594C5.80469 8.28906 5.80469 9.5 6.54688 10.2031ZM7.875 8.875L14.125 2.625V7.3125C18.8125 7.3125 24.125 7.58594 24.125 12.3516C24.125 14.5391 22.9922 15.6328 21.8594 16.375C23.4609 11.0625 19.4766 10.4375 14.125 10.4375V15.125L7.875 8.875ZM1.54688 7.58594C0.804688 8.28906 0.804688 9.5 1.54688 10.2031L7.79688 16.4531C8.57812 17.2734 9.75 17.1562 10.4531 16.4531L2.875 8.875L10.4531 1.33594C9.75 0.632812 8.57812 0.515625 7.79688 1.33594L1.54688 7.58594Z" fill="#121416"></path>
                                          </svg></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                           </div>
                        </div>
                     </div>
                  </div>
               </article>

                  </ul>
               </div>
      </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</section>
<!-- postbox area end -->


</main>