  <!-- large modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModalLarge" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="myLargeModalLabel">Add User</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="row">
                    <div class="page-wrapper">

                        <!-- Page Content-->
                        <!-- <div class="page-content"> -->
                            <div class="container-xxl">
                                <div class="row">
                                    <!-- <div class="col-md-6 col-lg-6"> -->
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <h4 class="card-title">Custom Validation Form</h4>
                                                    </div><!--end col-->
                                                </div> <!--end row-->
                                            </div><!--end card-header-->
                                            <div class="card-body pt-0">
                                                <form id="form-validation-2" class="form">
                                                    <div class="mb-2">
                                                        <label for="username" class="form-label">Username</label>
                                                        <input class="form-control" type="text" id="username" placeholder="Enter Username">
                                                        <small>Error Message</small>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input class="form-control" type="text" id="email" placeholder="Enter email">
                                                        <small>Error Message</small>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="password" class="form-label">Password</label>
                                                        <input class="form-control" type="password" id="password" placeholder="Enter password">
                                                        <small>Error Message</small>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="password2" class="form-label">Confirm Password</label>
                                                        <input class="form-control" type="password" id="password2" placeholder="Enter password again">
                                                        <small>Error Message</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit form</button>
                                                </form><!--end form-->
                                            </div><!--end card-body-->
                                        </div><!--end card-->
                                    <!-- </div> end col -->
                                </div><!--end row-->

                            </div>
                        <!-- </div> -->
                        <!-- end page content -->
                    </div>
                    <!-- end page-wrapper -->
                </div><!--end row-->
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->

<!-- small modal -->
<div class="modal fade bd-example-modal-sm" id="exampleModalSmall" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="mySmallModalLabel">Small Modal</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><!--end modal-header-->
            <div class="text-center py-3">
                <img src="assets/images/users/avatar-5.jpg" alt="" class="thumb-lg rounded-circle d-block mx-auto mb-1">
                <h5 class="mb-1">Good Morning!</h5>
                <p class="mb-0 text-muted">Hi, Aaron Gish ! Congratulations.</p>
            </div><!--end modal-body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
            </div><!--end modal-footer-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->